html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    max-width: 375px;
    background-color: #ededed;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c6c6c6;
    padding: 16px 8px;
}

.post-div {
    margin-bottom: 28px;
}

.logo {
    width: 128px;
}

.avatar {
    width: 35px;
    border-radius: 50%;
}

.post-header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.wordDiv {
    margin-left: 7px;
    padding-top: 1px;
}

.wordDiv p {
    margin: 0;
    font-size: 12px;
    line-height: 1.1;
}

.bold-text {
    font-weight: 700;
}

.post-img {
    width: 375px;
}

.post-body {
    background-color: white;
    padding: 21px 10px 6px 10px;
}


.btn-icon {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

.heart-icon {
    display: inline-block;
    background-image: url(images/icon-heart.png);
    background-size: cover;
}

.heart-icon:hover {
    background-image: url(images/icon-heart-filled.png);
}

.icon:hover, .btn-icon:focus {
    opacity: 0.5;
}



.post-body p {
    margin: 12px 0;
}

.postDivider {
    background-color: #ededed;
}

