html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c6c6c6;
    padding: 16px 8px;
}

.logo {
    width: 170px;
}

.avatar {
    width: 34px;
    border-radius: 50%;
}

